@tailwind base;
@tailwind components;
@tailwind utilities;

.owl-carousel .owl-item img {
    display: block;
    width: fit-content !important;
}
.owl-carousel.owl-loaded {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.owl-nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    margin-top: -10px;
}
.owl-carousel.undefined.owl-loaded.owl-drag .owl-nav button.owl-prev {
    font-size: 30px !important;
    left: -40px;
    position: relative;
    background: #ffffff !important;
    padding: 2px 10px 5px 10px !important;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #212121 !important;
    font-weight: 900;
}

.owl-carousel.undefined.owl-loaded.owl-drag .owl-nav button.owl-next {
    font-size: 30px !important;
    left: 40px;
    position: relative;
    background: #ffffff !important;
    padding: 2px 10px 5px 10px !important;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #212121 !important;
    font-weight: 900;
}
.owl-stage {
    min-height: 210px !important;
}